body {
  background-color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.good-label-style {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.container {
  width: 940px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  border: 0;
}

.container-flex {
  display: flex;
  width: 940px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
}

.header-top-wrapper {
  margin-bottom: -3px;
  padding: 0;
  background-color: #293449;
}

.header-logo {
  padding-right: 2px;
  padding-bottom: 3px;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 220px;
  height: 48px;
  margin-bottom: -4px;
  padding: 0;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo-link:hover {
  background-color: #ca2c37;
}

.logo-link:active {
  background-color: #ba2732;
}

.search-form p {
  position: relative;
  margin: 0;
  padding: 0;
}

.form {
  width: 270px;
  height: 42px;
  margin-bottom: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 48px;
  color: #000000;
  border: 0;
  outline: 0;
  background-color: #293449;
  font-size: 17px;
}

.form:hover {
  background-color: #212a39;
}

.form:focus {
  background-color: #ffffff;
}

.form::placeholder {
  opacity: 1;
  color: #ffffff;
}

.form:focus+.search-button svg {
  fill: #ee3643;
}

.search-button {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  padding: 0;
  border: none;
  background: 0 0;
}

.search-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.order-interface {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 452px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -2px;
  padding: 0;
  list-style: none;
}

.order-interface a {
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.06;
}

.bookmarks,
.chart,
.order-button {
  position: relative;
}

.bookmarks::before {
  position: absolute;
  top: 12px;
  left: 19px;
  width: 14px;
  height: 16px;
  content: "";
  background-image: url("../img/icon-bookmark.svg");
}

.chart::before,
.active-chart::before {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 15px;
  height: 15px;
  content: "";
  background-image: url("../img/icon-cart.svg");
}

.bookmarks-link,
.chart-link,
.chart-link-active {
  margin: 0;
  padding-top: 11px;
  padding-right: 30px;
  padding-bottom: 13px;
  padding-left: 44px;
}

.bookmarks a:hover,
.chart-link:hover {
  background-color: #212a3a;
}

.bookmarks-link:active,
.chart-link:active {
  opacity: 0.6;
  background-color: #161d29;
}

.chart-link-active {
 background-color: #ee3643;
 color: #ffffff;
 padding-right: 25px;
 padding-left: 49px;
}

.order-button-link {
  padding-top: 12px;
  padding-right: 23px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: #63a63e;
}

.order-button-link:hover {
  background-color: #5fbb2d;
}

.order-button-link:active {
  opacity: 0.5;
  background-color: #518534;
}

.main-header-middle-wrapper {
  margin-bottom: 60px;
  background-color: #f4f7f9;
}

.header-middle-wrapper {
  margin-bottom: 21px;
  background-color: #f4f7f9;
}

.site-label {
  display: block;
  box-sizing: border-box;
  width: 197px;
  margin-top: 49px;
  margin-right: 71px;
  margin-bottom: 40px;
  margin-left: 51px;
  padding: 0;
  color: #ee3643;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.44;
}

.header-address {
  margin-top: 45px;
  margin-bottom: 39px;
}

.phone {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-right: 45px;
  padding-bottom: 11px;
  padding-left: 71px;
  color: #ee3643;
  border: solid 3px #ffffff;
  font-size: 21px;
  font-style: normal;
  line-height: 1;
}

.phone::before {
  position: absolute;
  top: 11px;
  left: 13px;
  width: 19px;
  height: 19px;
  content: "";
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.place {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #32425c;
  font-size: 14px;
  font-style: normal;
}

.user-navigation {
  display: flex;
  justify-content: flex-start;
  width: 252px;
  margin-top: 46px;
  margin-bottom: 23px;
  margin-left: 68px;
  padding: 0;
}

.user-navigation li {
  list-style: none;
}

.login-icon {
  position: absolute;
  top: 14px;
  left: 15px;
  fill: #c5c5c5;
}

.login-link {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 13px;
  padding-left: 48px;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 1;
}

.login-link:hover .login-icon {
  fill: #293449;
}

.registration-link {
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 23px;
  padding-bottom: 12px;
  padding-left: 23px;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
}

.user-navigation a:hover {
  color: #ee3643;
}

.login-link a:active,
.registration a:active {
  opacity: 0.3;
}

.main-navigation {
  padding-bottom: 59px;
}

.site-navigation-list {
  height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation-item a,
.site-navigation-first-item a,
.site-navigation-last-item a {
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  line-height: 1;
}

.site-navigation-first-item a {
  padding-top: 20px;
  padding-right: 33px;
  padding-bottom: 23px;
  padding-left: 50px;
}

.site-navigation-last-item a {
  padding-top: 20px;
  padding-right: 57px;
  padding-bottom: 23px;
  padding-left: 33px;
}

.site-navigation-item a {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;
}

.site-navigation-list a:hover {
  background-color: #293449;
}

.site-navigation-list a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.category-list-begin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category-list {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 53px;
}

.category-list-end {
  margin-left: 20px;
}

.catalog-item-galery {
  position: relative;
  box-sizing: border-box;
  width: 620px;
  height: 266px;
}

.slider-indicator {
  position: absolute;
  top: 220px;
  left: 295px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.slider-indicator-none,
.slider-indicator-active {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.slider-indicator-none::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: "";
  cursor: pointer;
  border-radius: 100%;
  background-color: #ffffff;
}

.slider-indicator-active::after {
  position: absolute;
  top: 0;
  left: -6px;
  width: 7px;
  height: 7px;
  content: "";
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 100%;
  background-color: #ee3643;
}

.second-slide {
  display: none;
}

.galery-button-forward {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  border: none;
  background: transparent;
  background-image: url("../img/icon-left.svg");
}

.galery-button-backward {
  position: absolute;
  top: 114px;
  right: 20px;
  width: 22px;
  height: 40px;
  border: none;
  background: transparent;
  background-image: url("../img/icon-right.svg");
}

.category-item-materials,
.category-item-instruments,
.category-item-tehnic,
.category-item-discount,
.category-item-delivery {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  padding-top: 17px;
  padding-right: 43px;
  padding-bottom: 12px;
  padding-left: 22px;
}

.category-item-materials {
  background-color: #ffbf47;
  background-image: url("../img/paint.svg");
  background-repeat: no-repeat;
  background-position: top 31px right 43px;
}

.category-item-materials::after {
  position: absolute;
  top: 0;
  left: 240px;
  width: 60px;
  height: 59px;
  content: "";
  background-image: url("../img/new-flag.png");
}

.category-item-instruments {
  background-color: #3bbce3;
  background-image: url("../img/drill.svg");
  background-repeat: no-repeat;
  background-position: top 33px right 28px;
}

.category-item-tehnic {
  background-color: #dc91d8;
  background-image: url("../img/tractor.svg");
  background-repeat: no-repeat;
  background-position: top 31px right 31px;
}

.category-item-discount {
  margin-bottom: 20px;
  background-color: #8ed78f;
  background-image: url("../img/shoppingcart.svg");
  background-repeat: no-repeat;
  background-position: top 26px right 45px;
}

.category-item-delivery {
  background-color: #ffbf47;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: top 32px right 31px;
}

.category-item-materials a:hover,
.category-item-instruments a:hover,
.category-item-tehnic a:hover,
.category-item-discount a:hover,
.category-item-delivery a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-item-materials a:active,
.category-item-instruments a:active,
.category-item-tehnic a:active,
.category-item-discount a:active,
.category-item-delivery a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-item-galery a {
  position: absolute;
  bottom: 23px;
  left: 26px;
  display: inline-block;
  margin-right: 75px;
  padding-top: 10px;
  padding-right: 46px;
  padding-bottom: 10px;
  padding-left: 48px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  font-size: 14px;
}

.catalog-item-galery a:hover {
  color: #ffffff;
  background-color: #c92c37;
}

.catalog-item-galery a:active {
  background-color: #ba2732;
}

.category-item-materials p,
.category-item-instruments p,
.category-item-tehnic p,
.category-item-discount p,
.category-item-delivery p {
  margin-top: 4px;
  margin-right: 0;
  margin-bottom: 14px;
  margin-left: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.category-item-materials a,
.category-item-instruments a,
.category-item-tehnic a,
.category-item-discount a,
.category-item-delivery a {
  display: inline-block;
  box-sizing: border-box;
  width: 135px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 4px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.25;
}

.popular-items,
.popular,
.popular-goods-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.popular {
  width: 940px;
  height: 89px;
  margin-bottom: 21px;
  background-color: #f9f5f0;
}

.popular h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 28px;
  text-transform: uppercase;
  color: #32425c;
  font-size: 30px;
  line-height: 1;
  font-weight: 200;
}

.popular a {
  display: inline-block;
  width: 253px;
  margin-right: 24px;
  padding-top: 11px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  font-size: 14px;
}

.popular a:hover {
  color: #fff;
  background-color: #c92c37;
}

.popular a:active {
  background-color: #ba2732;
}

.popular-goods-list li {
  width: 220px;
  height: 318px;
  list-style: none;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 21px;
  text-align: center;
  border: 1px solid #ccc;
  line-height: 20px;
}

.new {
  margin-right: 0;
}

.new:after {
  position: absolute;
  top: -1px;
  left: 158px;
  width: 60px;
  height: 59px;
  content: "";
  background-image: url("../img/new-flag.png");
}

.catalog-new:after {
  position: absolute;
  top: -1px;
  left: 158px;
  width: 60px;
  height: 59px;
  content: "";
  background-image: url("../img/new-flag.png");
}


.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .title {
  margin-top: 3px;
  margin-bottom: 12px;
  padding: 0;
  text-align: center;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.catalog-item .discount {
  min-height: 20px;
  margin: 0;
  text-align: center;
  text-decoration: line-through;
  color: #a9a9a9;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17.5px;
  font-weight: bold;
  padding-left: 2px;
  line-height: 1;
}

.catalog-item .price {
  width: 141px;
  height: 38px;
  margin-top: 6px;
  margin-right: auto;
  margin-bottom: 21px;
  margin-left: auto;
}

.good-link {
  margin: 0;
  padding: 0;
}

.price-link {
  position: relative;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 34px;
  padding-right: 31px;
  background: #ee3643;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
}

.price-link::after {
  position: absolute;
  top: 0;
  right: -28px;
  width: 0;
  height: 0;
  content: "";
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.buy {
  position: relative;
  display: block;
  width: 129px;
  margin-top: -11px;
  margin-right: auto;
  margin-bottom: -8px;
  margin-left: auto;
  padding-top: 7px;
  padding-right: 0px;
  padding-bottom: 7px;
  padding-left: 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
  background-color: #63a63e;
  font-size: 14px;
}

.bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #32425c;
  border: solid 3px #63a63e;
  border-radius: 3px;
  font-size: 14px;
}

.buy:hover {
  border: 3px solid #5fbb2d;
  background-color: #5fbb2d;
}

.buy:active {
  border: 3px solid #518534;
  background-color: #518534;
}

.bookmark:hover {
  border: solid 3px #32425c;
}

.bookmark:active {
  opacity: 0.3;
}

.popular-producers-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 64px;
  padding: 0;
  list-style: none;
}

.popular-producers-list li {
  margin-bottom: 20px;
  padding: 0;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
}

.popular-producers-items a {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 218px;
  height: 143px;
}

.servises-container {
  margin-bottom: 78px;
  background-color: #f4f8fa;
}

.servises-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.servises-titles {
  margin-bottom: 69px;
}

.servises-list {
  position: relative;
  width: 240px;
  margin-top: 0;
  margin-right: 80px;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.servises-list::after {
  position: absolute;
  top: -36px;
  left: 230px;
  width: 10px;
  height: 279px;
  content: "";
  background-image: url("../img/shadow-line.png");
}

.delivery {
  margin: 0;
  background-image: url("../img/truck.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.delivery,
.warranty,
.credit {
  width: 620px;
  height: 283px;
}

.warranty,
.credit {
  display: none;
}

.servises-titles h4 {
  margin-top: 0;
  margin-bottom: 27px;
  padding-top: 65px;
  text-transform: uppercase;
  color: #000000;
  font-size: 29px;
  line-height: 1;
}

.delivery h4 {
  margin-top: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #32425c;
  font-size: 35px;
  line-height: 1;
}

.servises-titles p {
  width: 398px;
  margin: 0;
  color: #000000;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.85;
}

.delivery p {
  width: 278px;
  height: 96px;
  margin: 0;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.servises-delivery-active a {
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  padding-top: 17px;
  padding-bottom: 22px;
  padding-left: 22px;
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.servises-warranty a {
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  padding-top: 17px;
  padding-bottom: 22px;
  padding-left: 22px;
  color: #fff;
  background-color: #32425c;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
  font-size: 20px;
  font-weight: bold;
}

.servises-credit a {
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  padding-top: 17px;
  padding-bottom: 22px;
  padding-left: 22px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
  font-size: 20px;
  font-weight: bold;
}

.servises-delivery a:hover,
.servises-warranty a:hover,
.servises-credit a:hover {
  background-color: #293449;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.servises-warranty a:active,
.servises-credit a:active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.about-us,
.contacts {
  height: 438px;
  margin-bottom: 21px;
}

.about-us {
  width: 519px;
  margin-right: 121px;
}

.contacts {
  width: 300px;
}

.contacts-label {
  margin-top: 0;
  margin-bottom: 24px;
}

.about-us-label,
.contacts-label {
  text-transform: uppercase;
  color: #000000;
  font-size: 30px;
}

.about-us-label {
  margin-top: 0;
  margin-bottom: 23px;
}

.paragraph-one,
.paragraph-three,
.paragraph-two {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.paragraph-one {
  margin-top: 0;
  margin-bottom: 24px;
}

.paragraph-two {
  width: 386px;
  margin-top: 0;
  margin-bottom: 21px;
}

.paragraph-three {
  margin: 0;
  padding-top: 0;
}

.delivers-list {
  position: relative;
  margin-top: 0;
  margin-bottom: 16px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 3px;
  padding-left: 36px;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.delivers-list li {
  padding-bottom: 19px;
}

.busines-line::before {
  position: absolute;
  top: -3px;
  left: 0;
  width: 130px;
  height: 25px;
  content: "";
  background-image: url(../img/list-line.svg);
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.autotrade::before {
  position: absolute;
  top: 37px;
  left: 0;
  width: 130px;
  height: 25px;
  content: "";
  background-image: url(../img/list-line.svg);
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.expedition::before {
  position: absolute;
  top: 76px;
  left: 0;
  width: 130px;
  height: 25px;
  content: "";
  background-image: url(../img/list-line.svg);
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.about-us-link {
  display: inline-block;
  margin: 0;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 41px;
  list-style: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  font-size: 14px;
}

.write-us-button {
  width: 300px;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-right: 3px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid #ee3643;
  background-color: #ee3643;
  font-size: 14px;
}

.write-us-button:hover {
  border: 1px solid #ca2c37;
  background-color: #ca2c37;
}

.write-us-button:active {
  border: 1px solid #ba2732;
  background-color: #ba2732;
}

.map {
  margin-top: 31px;
  margin-bottom: 35px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 220px;
  height: 68px;
  margin: 0;
  padding-bottom: 4px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: #32425c;
}

.footer-contacts,
.footer-logo,
.footer-navigation-list {
  display: flex;
  justify-content: space-between;
}

.footer-navigation-list {
  margin: 37px 0 33px;
  list-style: none;
  padding: 0;
}

.footer-category-item,
.footer-navigation-item {
  display: block;
  margin: 0;
  font-size: 18px;
}

.footer-category-item:not(:first-child),
.footer-navigation-item:not(:first-child) {
  padding-left: 59px;
}

.footer-navigation-item a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-contacts {
  margin: 0;
}

.footer-address {
  margin-right: 91px;
  margin-bottom: 51px;
  color: #f1f5f7;
  font-size: 18px;
  margin-top: 1px;
}

.footer-address p {
  width: 322px;
  padding-left: 3px;
  padding-top: 1px;
  margin: 0;
  line-height: 1.33;
  font-style: normal;
}

.footer-category-list {
  margin: 0 0 76px;
  padding: 0;
  list-style: none;
}

.footer-category-item a {
  display: inline-block;
  color: #ffd180;
  padding-bottom: 0;
  padding-top: 4px;
  margin: 0;
}

.footer-navigation-item a {
  display: inline-block;
  color: #ffffff;
  padding-bottom: 0;
  padding-top: 1px;
  margin: 0;
}

.footer-category-item a:hover {
  text-decoration: underline;
}

.footer-category-item a:active {
  text-decoration: none;
  opacity: 0.5;
}

.copyright,
.footer-category-list,
.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  color: #ffffff;
  background-color: #293449;
  font-size: 16px;
}

.copyright p {
  margin-top: 36px;
  margin-bottom: 34px;
  padding: 0;
}

.social-list {
  width: 132px;
  margin-right: 118px;
  margin-left: 164px;
  padding: 0;
  list-style: none;
  margin-top: 34px;
  margin-bottom: 31px;
}

.social-list li {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-color: #212a3a;
}

.social-list li:active,
.social-list li:hover {
  background-color: #ee3643;
}

.fb,
.vk {
  margin-right: 3px;
}

.vk-logo {
  position: absolute;
  top: 13px;
  left: 8px;
}

.fb-logo {
  position: absolute;
  top: 9px;
  left: 15px;
}

.inst-logo {
  position: absolute;
  top: 10px;
  left: 11px;
}

.social-list a {
  margin: 0;
  padding-right: 3px;
  color: #ffffff;
  display: inline-block;
}

.site-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.site-information p {
  color: #ffffff;
  font-size: 16px;
  font-stretch: normal;
}

.feedback {
  margin-right: 53px;
}

.site-information a {
  color: #ffd180;
}

.site-information a:hover {
  text-decoration: underline;
}

.site-information a:active {
  text-decoration: none;
  color: #ee3643;
}

.modal-contacts-popup {
  position: fixed;
  display: none;
  width: 620px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -234px;
  background-color: #ffffff;
  background-image: url("../img/popup-line.svg");
  background-repeat: no-repeat;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.write-us-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.first-line {
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin-top: 54px;
  margin-left: 77px;
}

.modal-form {
  display: block;
  margin-top: 0;
  width: 460px;
}

.modal-form input {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  color: #a9a9a9;
}

.modal-form label {
  font-size: 17px;
  color: #000000;
}

.first-field,
.second-field {
  margin: 0;
  padding: 0;
}

.letter {
  display: block;
  width: 460px;
  margin-top: 19px;
  margin-bottom: 35px;
  margin-left: 78px;
}

.name {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-size: 17px;
}

.modal-name {
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  color: #a9a9a9;
  border: solid 2px #dee3e4;
  background-color: #ffffff;
  font-size: 14px;
}

.email {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-size: 17px;
}

.modal-email {
  box-sizing: border-box;
  width: 218px;
  height: 38px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  color: #a9a9a9;
  border: solid 2px #dee3e4;
  background-color: #ffffff;
  font-size: 14px;
}

.text {
  display: block;
  margin-bottom: 12px;
  color: #000000;
  font-size: 17px;
}

.modal-text {
  box-sizing: border-box;
  width: 458px;
  max-height: 114px;
  padding-top: 13px;
  padding-bottom: 88px;
  padding-left: 13px;
  color: #a9a9a9;
  border: solid 2px #dee3e4;
  background-color: #ffffff;
  font-size: 14px;
}

.button-container {
  width: 620px;
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: #f4f4f4;
}

.popup-button {
  display: block;
  width: 460px;
  margin-left: 80px;
  padding-top: 12px;
  padding-bottom: 11px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  background-color: #ee3643;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #ca2c37;
}

.popup-button:active {
  background-color: #ba2732;
}

.modal-close {
  position: absolute;
  top: 16px;
  left: 590px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: 0;
  font-size: 0;
  background: transparent;
}

.modal-close::after,
.modal-close::before {
  position: absolute;
  top: 8px;
  left: -3px;
  width: 27px;
  height: 5px;
  content: "";
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover.modal-close::before,
.modal-close:hover.modal-close::after {
  background-color: #ca2c37;
}

.modal-close:active.modal-close::before,
.modal-close:active.modal-close::after {
  background-color: #ba2732;
}

.map-popup {
  display: none;
  position: fixed;
  width: 940px;
  height: 445px;
  top: 50%;
  left: 50%;
  margin-left: -470px;
  margin-top: -223px;
  box-sizing: border-box;
  padding: 0;
}

.map-wrapper {
  width: 940px;
  height: 445px;
  background: url("../img/big-map.png") 0 0 no-repeat;
  box-shadow: 0 0 14px 1px rgba(47, 42, 43, 0.5);
}

.map-popup iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.map-popup p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.map-link {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
}

.big-map {
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}

.map-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: 0;
  font-size: 0;
  z-index: 3;
  background: transparent;
}

.map-close::after,
.map-close::before {
  position: absolute;
  top: 8px;
  left: -3px;
  width: 27px;
  height: 5px;
  content: "";
  background-color: #ee3643;
}

.map-close::before {
  transform: rotate(45deg);
}

.map-close::after {
  transform: rotate(-45deg);
}

.map-close:hover.map-close::before,
.map-close:hover.map-close::after {
  background-color: #ca2c37;
}

.map-close:active.map-close::before,
.map-close:active.map-close::after {
  background-color: #ba2732;
}

.active-chart {
  position: relative;
  background-color: #ee3643;
}

.catalog-user-navigation {
  width: 299px;
  margin: 0;
  padding-left: 51px;
  list-style: none;
  box-sizing: border-box;
}

.user-link-cabinet {
  box-sizing: border-box;
  width: 300px;
  list-style: none;
  margin-top: 44px;
  margin-bottom: 7px;
  background-color: #ffffff;
}

.user-link {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  padding-left: 47px;
  color: #000000;
  font-size: 21px;
  line-height: 1;
  background-color: #ffffff;
}

.user-link:active,
.user-icon:active,
.log-out-icon:active {
 opacity: 0.3;
}

.user-link:hover > svg,
.userlink:hover > svg {
  fill: #293449;
}

.user-icon {
  position: absolute;
  top: 0px;
  left: 14px;
  fill: #c5c5c5;
}

.log-out-button {
  position: relative;
  padding-top: 32px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 16px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.log-out-button:hover > svg {
  fill: #293449;
}

.log-out-icon {
  position: absolute;
  top: 15px;
  right: 8px;
  fill: #c5c5c5;
}

.additional-links {
  width: 299px;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 18px;;
}

.my-orders {
  position: relative;
  padding-right: 32px;
}

.my-orders::before {
  position: absolute;
  top: 6px;
  left: 91px;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 100%;
  background-color: #32425c;
}

.cabinet-menu-item a,
.my-orders a {
  display: inline-block;
  text-align: left;
  text-decoration: underline;
  letter-spacing: normal;
  color: #32425c;
  background-color: transparent;
  font-size: 16px;
}

.cabinet-menu-item a:hover,
.my-orders a:hover {
  color: #ee3643;
}

.cabinet-menu-item a:active,
.my-orders a:active {
  opacity: 0.3;
  color: #32425c;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 21px;
  list-style: none;
}

.breadcrumbs-list a {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  line-height: 1.25;
}

.catalog-link {
  position: relative;
  padding-right: 20px;
  padding-left: 53px;
}

.catalog-instrument,
.catalog-perforator {
  position: relative;
  padding-right: 20px;
  padding-left: 16px;
}

.catalog-link::before {
  position: absolute;
  top: 3px;
  left: -2px;
  width: 14px;
  height: 12px;
  content: "";
  background-image: url("../img/icon-home.svg");
}

.catalog-link::after {
  position: absolute;
  top: 3px;
  left: 28px;
  width: 14px;
  height: 12px;
  content: "";
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.catalog-instrument::before {
  position: absolute;
  top: 3px;
  left: -5px;
  width: 14px;
  height: 12px;
  content: "";
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.catalog-perforator::before {
  position: absolute;
  top: 3px;
  left: -6px;
  width: 14px;
  height: 12px;
  content: "";
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.catalog-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 0;
  background-color: #f2f7f9;
}

.catalog-label h2 {
  padding-left: 30px;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #32425c;
  font-size: 30px;
  line-height: 1;
  margin-top: 29px;
  margin-bottom: 30px;
  padding-left: 27px;
}

.main-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.catalog-charts, .sort, .product-list,
.catalog-items, .sort-parametres-list, .pagination,
.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.filter {
  margin-right: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.filter h2 {
  width: 53px;
  margin: 0;
  padding-top: 10px;
  padding-right: 149px;
  padding-bottom: 11px;
  padding-left: 18px;
  background-color: #f7f3ec;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.filter p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin-top: 13px;
  margin-bottom: 14px;
  line-height: 1.8;
}

.price-controls {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 42px;
}

.min-range,
.max-range {
  box-sizing: border-box;
  width: 95px;
}

.range-controls {
  position: relative;
  width: 220px;
  height: 80px;
  box-sizing: border-box;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 9px;
  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 73%;
}

.min-range {
  margin-right: 26px;
}

.range-toggle:hover {
  background: #1c4f80;
}

.produsers-selection-list,
.power-choice-list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 21px;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.checkbox-label,
.radio-label {
  text-transform: uppercase;
  color: #000000;
  font-size: 15px;
  line-height: 1.33;
}

.sort {
  width: 700px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.sort-label {
  margin: 0;
  padding-top: 10px;
  padding-right: 129px;
  padding-bottom: 11px;
  padding-left: 19px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  line-height: 1.25;
}

.sort-parametres-list {
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  line-height: 1.25;
  list-style: none;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.sort-parametres-item-price {
  padding-right: 66px;
}


.sort-parametres-item-type {
  padding-right: 61px;
}

.sort-parametres-item-function {
 padding-right: 38px;
}

.sort-parametres-item-up {
  padding-right: 21px;
}

.sort-parametres-item-down {
  padding-right: 17px;
}

.sort-parametres-list a {
  display: inline-block;
  padding: 0;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid transparent;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.sort-parametres-item-price a {
  color: #ee3643;
}

.sort-parametres-item-type a:hover,
.sort-parametres-item-function a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
  border-bottom-style: dotted;
}

.sort-parametres-item-type a:active,
.sort-parametres-item-function a:active {
  color: #ee3643;
  border: none;
}

.sort-parametres-item-up svg,
.sort-parametres-item-down svg {
  fill: #c5c5c5;
}

.sort-parametres-item-up svg:hover,
.sort-parametres-item-down svg:hover {
  fill: #000000;
}

.sort-parametres-item-up svg:active,
.sort-parametres-item-down svg:active {
  fill: #ee3643;
}

.pagination {
  width: 284px;
  margin-right: 10px;
  list-style: none;
  margin-top: 31px;
  margin-bottom: 34px;
}

.pagination-item-active {
  padding-right: 11px;
}

.pagination-item {
  padding-right: 10px;
}

.pagination-item-active a {
  display: inline-block;
  padding-top: 11px;
  padding-right: 14px;
  padding-bottom: 11px;
  padding-left: 15px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  font-size: 14px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.pagination-item a {
  display: inline-block;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;
  color: #000000;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.next-button a {
  display: inline-block;
  box-sizing: border-box;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.pagination-link:hover,
.next-link:hover {
  border: solid 1px #bdc6ca;
  background-color: #ffffff;
}

.pagination-link:active,
.next-link:active {
  border: solid 1px #ee3643;
  background-color: #ffffff;
}

.slidecontainer {
  display: inline-block;
  box-sizing: border-box;
  width: 220px;
  height: 80px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7f3ec;
}

.slider {
  width: 180px;
}

.value {
  width: 220px;
  height: 38px;
}

.min-range,
.max-range {
  display: inline-block;
  width: 95px;
  padding-top: 10px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 16px;
  text-align: center;
  border: none;
  background-color: #f7f3ec;
  font-size: 17px;
  color: #000000;
}

.show-button {
  display: inline-block;
  width: 140px;
  margin-top: 37px;
  padding-top: 11px;
  padding-bottom: 8px;
  border: solid 1px #e6e6e6;
  border-radius: 3px;
  background-color: #ffffff;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.produsers-selection-item,
.power-choice-item {
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #000000;
  font-size: 15px;
}

.checkbox-label,
.radio-label {
  position: relative;
  padding-left: 36px;
}

.checkbox-label::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 9px;
  content: "";
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.checkbox:checked+.checkbox-label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.radio-label::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 9px;
  content: "";
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.radio:checked+.radio-label::before {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}

.about-drill {
  margin: 0;
  background-color: #f2f7f9;
}

.about-drill h2 {
  padding-top: 62px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 26px;
  text-transform: uppercase;
  color: #000000;
  font-size: 30px;
  font-weight: 300;
}

.about-drill p {
  width: 919px;
  box-sizing: border-box;
  padding-bottom: 68px;
  margin: 0;
  text-align: left;
  color: #000000;
  font-size: 13px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 24px;
}

.modal-shoping-chart-popup {
  display: none;
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -310px;
  width: 620px;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ee3643;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 620px;
  height: 112px;
  background-color: rgb(241, 241, 241);
}

.modal-buttons-container {
  width: 460px;
}

.modal-buttons a {
  display: inline-block;
  margin-right: 9px;
  padding-top: 14px;
  padding-right: 62px;
  padding-bottom: 14px;
  padding-left: 59px;
  text-align: center;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  font-size: 14px;
}

.continue-button {
  padding-top: 14px;
  padding-right: 44px;
  padding-bottom: 14px;
  padding-left: 48px;
  cursor: pointer;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 14px;
}

.modal-shoping-chart-popup p {
  position: relative;
  display: block;
  margin: 0;
  padding-top: 75px;
  padding-bottom: 68px;
  padding-left: 98px;
  padding-right: 108px;
  text-align: right;
  color: #000000;
  font-size: 31px;
  background-color: #ffffff;
}

.popup-title::before {
  position: absolute;
  top: 55px;
  left: 81px;
  width: 66px;
  height: 66px;
  margin-right: 32px;
  content: "";
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
}

.popup-title {
  display: block;
  width: 414px;
}

.modal-show {
  display: block;
  animation: fadeInDown 0.4s;
}

.modal-error {
  animation: shake 0.4s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
