body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Cuprum;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header-top-wrapper {
  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-logo a {
  display: block;
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  background-image: url("../img/index-logo.png");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo a:hover {
  background-color: #ca2c37;
}

.header-logo a:active {
  background-color: #ba2732;
}

.search-form {
  position: relative;
}

.search-form p {
  padding: 0;
  margin: 0;
}

.form {
  border: none;
  outline: none;
  width: 247px;
  height: 42px;
  padding-left: 49px;
  background-color: #293449;
}

.form::placeholder {
  color: #ffffff;
}

.search-button {
  width: 17px;
  height: 17px;
  background: transparent;
  position: absolute;
  top: 12px;
  left: 17px;
  border: 0;
  padding: 0;
}

.search-button::before {
  content: "";
  width: 17px;
  height: 17px;
  display: block;
  background-image: url("../img/icon-search.svg");
  opacity: 0.5;
}

.order-interface {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-interface a {
  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: block;
}

.bookmarks a {
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 44px;
  padding-right: 28px;
}

.cart a {
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 50px;
  padding-right: 31px;
}

.order-button a {
  width: 150px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #63a63e;
}

.bookmarks a:hover,
.cart a:hover {
  background-color: #212a3a;
}

.bookmarks a:active,
.cart a:active {
  background-color: #161d29;
  opacity: 0.6;
}

.order-button a:hover {
  background-color: #5fbb2d;
}

.order-button a:active {
  background-color: #518534;
  opacity: 0.5;
}

.header-middle-wrapper {
  background-color: #f4f7f9;
}

.site-label {
  width: 196px;
  height: 60px;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
  margin-bottom: 44px;
  margin-top: 49px;
  margin-left: 0;
  margin-right: 71px;
  padding: 0;
}

.phone {
  border: solid 3px #ffffff;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
  position: relative;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 71px;
  padding-right: 42px;
  margin-top: 46px;
  margin-bottom: 10px position:relative;
}

.phone::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 11px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.place {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
  margin-bottom: 44px;
  margin-top: 0;
}

.user-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 46px;
  margin-bottom: 67px;
}

.user-navigation li {
  list-style: none;
}

.user-navigation a {
  width: 121px;
  height: 45px;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}

.login-link a {
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 48px;
  padding-right: 27px;
  margin-right: 10px;
  position: relative;
}

.login-link a::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 17px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.registration a {
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.user-navigation a:hover {
  color: #ee3643;
}

.login-link a:active,
.registration a:active {
  opacity: 0.3;
}

.main-navigation,
.site-navigation {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 60px;
}

.site-navigation {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  margin: 0;
  padding: 0;
  width: 940px;
}

.site-navigation a {
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 26px;
  padding-left: 31px;
  padding-right: 31px;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.footer {
  background-color: #293449;
}

.logo {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  background-image: url("../img/footer-logo.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 32px;
  margin-right: 113px;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 42px;
  margin-bottom: 45px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.footer-navigation-item a {
  display: block;
  padding-left: 60px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.footer-navigation-item a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-address {
  margin-bottom: 53px;
  margin-right: 31px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #f1f5f7;
}

.footer-address p {
  width: 322px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.footer-category-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 0;
  margin-bottom: 76px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.footer-category-item a {
  display: inline-block;
  padding-left: 60px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffd180;
  margin: 0;
}

.footer-category-item a:hover {
  text-decoration: underline;
}

.footer-category-item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
}

.copyright p {
  margin-top: 39px;
  margin-bottom: 35px;
  padding: 0;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  list-style: none;
  width: 132px;
  padding: 0;
  margin-right: 119px;
}

.social-list a {
  color: white;
  padding-right: 3px;
  margin: 0;
}

.vk:before {
  content: "";
  position: absolute;
  left: -70px;
  top: 0px;
  width: 42px;
  height: 42px;
  background-color: red;
  /* background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0, 0; */
}

.fb:before {
  content: "";
  position: absolute;
  left: 0;
  top: -12px;
  width: 42px;
  height: 42px;
  background-color: red;
  /* background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0, 0; */
}

.inst:before {
  content: "";
  position: absolute;
  left: 90px;
  top: -12px;
  width: 42px;
  height: 42px;
  background-color: red;
  /* background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0, 0; */
}

.site-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.site-information p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.feedback {
  margin-right: 53px;
}

.site-information a {
  color: #ffd180;
}

.site-information a:hover {
  text-decoration: underline;
}

.site-information a:active {
  text-decoration: none;
  color: #ee3643;
}

.about-us {
  width: 519px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 86px;
  margin-right: 121px;
}

.contacts {
  width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin-bottom: 86px;
}

.contacts-label {
  margin-bottom: 39px;
  margin-top: 0;
}

.about-us-label,
.contacts-label {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.about-us-label {
  margin-top: 0;
  margin-bottom: 39px;
}

.paragraph-left {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0;
}

.paragraph-right {
  width: 179px;
  height: 96px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 0;
  margin: 0;
}

.paragraph-3 {
  margin: 0;
  padding: 0;
}

.paragraph-1 {
  margin-top: 0;
  margin-bottom: 36px;
  padding: 0;
}

.paragraph-2 {
  margin-top: 0;
  margin-bottom: 28px;
  padding: 0;
}

.delivers-list {
  margin-bottom: 37px;
  margin-top: 0;
}

.delivers-list-item {
  padding-bottom: 25px
}

.about-us-link {
  width: 220px;
  height: 38px;
  list-style: none;
  background-color: #ee3643;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.write-us-link {
  width: 300px;
  height: 38px;
  list-style: none;
  background-color: #ee3643;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.map {
  margin-bottom: 40px;
  margin-top: 36px;
}

.modal-contacts-popup {
 width: 620px;
 height: 430px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
 background-color: #ffffff;
}

.form {
  width: 460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-button {
  width: 460px;
  height: 38px;
  background-color: #ee3643;
  display: block;
}

.first-line,
.second-line,
.third-line {
  margin: 0;
  padding: 0;
}
