body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Cuprum;
}

a {
  text-decoration: none;
}

header {
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

.header-address {
  font-family: Cuprum;
  font-style: normal;
  width: 270px;
  height: 68px;
}

.header-top-wrapper {
  width: 940px;
  height: 47px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  width: 220px;
  height: 47px;
}

.search-form-label {
  display: none;
}

.search-form {
  width: 41px;
  height: 12px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.order-interface a {
  width: 78px;
  height: 15px;
  /* color: #ffffff; */
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.header-middle-wrapper {
  width: 887px;
  height: 68px;
  margin-top: 46px;
  margin-bottom: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.site-label {
  width: 196px;
  height: 60px;
  color: #ee3643;
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.phone {
  width: 270px;
  width: 144px;
  height: 45px;
  height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.place {
  width: 250px;
  height: 13px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.login-link {
  width: 46px;
  width: 121px;
  height: 16px;
  height: 45px;
  color: #000000;
  background-color: #ffffff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.registration {
  width: 100px;
  width: 150px;
  height: 20px;
  height: 45px;
  color: #000000;
  background-color: #ffffff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.main-navigation {
  width: 52px;
  height: 12px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  width: 940px;
  height: 60px;
  box-shadow: inset 0 -5px 0 #293449;
  /* background-color: #32425c; */
}

.main-navigation,
.user-navigation,
.order-interface {
  list-style: none;
}



.order-interface {
  width: 433px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bookmarks,
.cart,
.order-button {
  width: 150px;
  height: 42px;
}



.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-navigation {
  width: 940px;
  height: 60px;
  margin-bottom: 60px;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.site-navigation a {
  width: 52px;
  height: 12px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.order-interface a {
  width: 78px;
  height: 15px;
  /* color: #ffffff; */
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}
